<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h2>로그인 화면</h2>
	
	<form action="login" method="post">
	
		아이디 : <input type="text" name="id"> <br>
		비밀번호 : <input type="password" name="pw"> <br>
		<input type="submit" value="로그인">
		<button type="button" onclick="signup()">회원가입</button>
	
	</form>

</body>

<script>

	var fail = '[[${fail}]]';
	if(fail != ''){
		alert(fail);
	}

	function signup(){
		location.href="/signup";
	}
	
</script>

</html>

